* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Overpass', sans-serif;
  transition: all .1s;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-Grey: hsl(217, 12%, 63%);
  --medium-Grey: hsl(216, 12%, 54%);
  --dark-Blue: hsl(213, 19%, 18%);
  --very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--very-Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden {
  display: none;
}

button {
  cursor: pointer;
}

main {
  width: 26em;
  height: 26em;
  border-radius: 1.5rem;
  background: radial-gradient(circle at center top,rgb(32, 40, 51),rgb(20, 25, 32) 100%);
  padding: 2em 2.5em 2em 2em;
  margin: 1.5em;
  position: relative;
}

/* -----------  MAIN ARTICLE  ----------- */

article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-article {
  justify-content: space-between;
}

.article__container-img {
  width: 3em;
  height: 3em;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__container-img img {
  width: 1em;
  height: 1em;
}

h1 {
  font-size: 1.75em;
  color: #fff;
  margin-bottom: 0.625em;
}

p {
  font-size: 0.9375em;
  color: var(--light-Grey);
  line-height: 1.5em;
}

.article__container-buttons {
  display: flex;
  justify-content: space-between;
}

.container-buttons__button {
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .1);
  font-weight: 700;
  color: var(--light-Grey);
  font-size: 1em;
  padding-top: 0.1875em;
}

.container-buttons__button:hover {
  color: #fff;
  background-color: var(--medium-Grey);
}

.container-buttons__button.active {
  color: #fff;
  background-color: var(--orange);
}

button[type="submit"] {
  background-color: var(--orange);
  color: #fff;
  width: 100%;
  font-size: 0.875em;
  font-weight: 700;
  height: 2.8125rem;
  border-radius: 100px;
  letter-spacing: 0.1875em;
}

button[type="submit"]:hover {
  background-color: #fff;
  color: var(--orange);
}

/* -----------  SECOND ARTICLE  ----------- */

.second-article {
  align-items: center;
  position: relative;
}

#close {
  position: absolute;
  left: 0;
  top: 0;
  width: 3.6em;
  height: 3.6em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .1);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#close img {
  position: relative;
  top: 1px;
  margin: 0;
  width: 40%;
}

.second-article img {
  width: 45%;
  margin: 1em 0 2em 0;
}

.second-article span {
  font-size: .95em;
  color: var(--orange);
  background-color: rgba(255, 255, 255, .05);
  padding: 0.4375em 1.125em 0.3125em 1.125em;
  border-radius: 100px;
  margin-bottom: 2.1875em;
}

.second-article h2 {
  color: #fff;
  font-size: 1.8em;
  margin-bottom: .8em;
}

.second-article p {
  font-size: .95em;
  text-align: center;
}

/* -----------  FOOTER  ----------- */

footer {
  font-size: 0.6875em;
  position: absolute;
  bottom: 20px;
  color: #fff;
  margin: 0 1rem;
  text-align: center;
}

footer a {
  color: var(--orange);
}

/* -----------  MOBILE  ----------- */

@media screen and (max-width:500px) {
  :root {
    font-size: 14px;
  }

  #close {
    width: 3.2em;
    height: 3.2em;
  }
}

@media screen and (max-width:360px) {
  :root {
    font-size: 10px;
  }

  #close {
    width: 2.3em;
    height: 2.3em;
  }
}